<launch>
  <arg name="bag"/>
  <param name="/use_sim_time" value="true"/>

  <node pkg="localization" type="gps_bag_rviz_replay.py"
        name="gps_bag_rviz_replay" output="screen" required="true"/>
  <node pkg="rviz" type="rviz" name="gps_bag_rviz"
        args="-d $(find localization)/test/gps_bag_rviz_replay.rviz"
        output="screen" required="false"/>
  <node pkg="rosbag" type="play" name="gps_bag_play"
        args="--clock --loop $(arg bag)" output="screen" required="true"/>
</launch>
