<launch>
  <arg name="port" default="/dev/ttyACM0" />
  <arg name="baud" default="57600" />
  <arg name="respawn" default="true" />

  <node name="arduino_serial"
        pkg="rosserial_python"
        type="serial_node.py"
        output="screen"
        respawn="$(arg respawn)"
        respawn_delay="2.0">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
  </node>
</launch>
