<launch>
  <arg name="input_topic" default="/lidar_preprocessed"/>
  <arg name="output_topic" default="/dbscan_clusters"/>
  <arg name="config_file" default="$(find object_detection)/config/dbscan.yaml"/>

  <node pkg="object_detection" type="dbscan_visualizer_node" name="dbscan_visualizer" output="screen">
    <rosparam command="load" file="$(arg config_file)"/>
    <remap from="lidar_preprocessed" to="$(arg input_topic)"/>
    <remap from="dbscan_clusters" to="$(arg output_topic)"/>
  </node>
</launch>
