<launch>
  <arg name="enable_lidar" default="true" />
  <arg name="enable_cam" default="true" />
  <arg name="enable_gps" default="true" />
  <arg name="enable_imu" default="true" />
  <arg name="enable_arduino" default="true" />
  <arg name="enable_can_logger" default="true" />
  <arg name="can_logger_config" default="$(find can_logger)/config/logger.yaml" />

  <arg name="arduino_config" default="$(find vehicle_interface_bringup)/config/serial.yaml" />
  <arg name="arduino_port" default="" />
  <arg name="arduino_baud" default="" />

  <!-- cam.launch: Razer Kiyo Pro; cam_logi.launch: Logitech C922. -->
  <arg name="camera_launch" default="cam.launch" />

  <include if="$(arg enable_lidar)"
           file="$(find lidar_bringup)/launch/rplidar_s2.launch" />
  <include if="$(arg enable_cam)"
           file="$(find cam_bringup)/launch/$(arg camera_launch)" />
  <include if="$(arg enable_gps)"
           file="$(find gps_bringup)/launch/gps.launch" />
  <include if="$(arg enable_imu)"
           file="$(find imu_bringup)/launch/xsens_mti.launch" />
  <include if="$(arg enable_arduino)"
           file="$(find vehicle_interface_bringup)/launch/arduino.launch">
    <arg name="config" value="$(arg arduino_config)" />
    <arg name="port" value="$(arg arduino_port)" />
    <arg name="baud" value="$(arg arduino_baud)" />
  </include>
  <include if="$(arg enable_can_logger)" file="$(find can_logger)/launch/logger.launch">
    <arg name="config" value="$(arg can_logger_config)" />
  </include>
</launch>
