<launch>
  <arg name="config" default="$(find localization)/config/localization.yaml"/>
  <arg name="start_rviz" default="false"/>
  <arg name="rviz_config" default="$(find localization)/rviz/localization.rviz"/>
  <arg name="localization_node_name" default="localization"/>
  <arg name="odometry_node_name" default="wheel_imu_gps_odometry"/>
  <arg name="status_node_name" default="localization_sensor_status"/>
  <arg name="start_odometry" default="true"/>
  <arg name="start_status" default="true"/>
  <arg name="override_encoder_calibration" default="false"/>
  <arg name="encoder_calibrated" default="false"/>
  <arg name="encoder_meters_per_tick" default="0.0"/>

  <node pkg="localization" type="localization_node" name="$(arg localization_node_name)"
        output="screen" clear_params="true" required="true">
    <rosparam command="load" file="$(arg config)"/>
  </node>

  <node if="$(arg start_odometry)" pkg="localization"
        type="wheel_imu_gps_odometry_node" name="$(arg odometry_node_name)"
        output="screen" clear_params="true" required="true">
    <rosparam command="load" file="$(arg config)"/>
    <param if="$(arg override_encoder_calibration)"
           name="motion/encoder_calibrated" value="$(arg encoder_calibrated)"/>
    <param if="$(arg override_encoder_calibration)"
           name="motion/encoder_meters_per_tick"
           value="$(arg encoder_meters_per_tick)"/>
  </node>

  <node if="$(arg start_status)" pkg="localization"
        type="localization_sensor_status_node" name="$(arg status_node_name)"
        output="screen" clear_params="true" required="true">
    <rosparam command="load" file="$(arg config)"/>
    <param if="$(arg override_encoder_calibration)"
           name="motion/encoder_calibrated" value="$(arg encoder_calibrated)"/>
    <param if="$(arg override_encoder_calibration)"
           name="motion/encoder_meters_per_tick"
           value="$(arg encoder_meters_per_tick)"/>
  </node>

  <node if="$(arg start_rviz)" pkg="rviz" type="rviz"
        name="localization_rviz" args="-d $(arg rviz_config)"
        output="screen" required="false"/>
</launch>
